@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Project1.ViewModels.ForgotPasswordViewModel

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-5 col-xxl-5">
                    <div class="card mb-0">
                        <div class="card-body" style="padding: 10px">
                            <a class="text-nowrap logo-img text-center d-block py-3 w-100" style="padding: 0px!important">
                                <img src="../1LayoutLogin/assets/images/logos/dark-logo.svg" width="180" alt="" style="border-radius: 50%">
                                <p class="text-center" style="color: #f8742c; font-size: 145%; font-weight: bold; margin: 0.5%">LẤY LẠI MẬT KHẨU</p>
                            </a>
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["Error"]
                                </div>
                            }
                            <form method="post" asp-action="ForgotPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="mb-3">
                                    <label class="form-label">Nhập Email đã đăng ký tài khoản</label>
                                    <input type="email" name="email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <a style="background-color: #f8742c; border-color: #f8742c" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                                    <button class="btn-lg" type="submit" style="background-color: #f8742c; border: none; outline: none; color: white; width: 100%; height: 100%">Lấy lại mật khẩu</button>
                                </a>
                            </form>
                            <!-- Liên kết quay lại -->
                            <div class="d-flex align-items-center justify-content-center">
                                <a asp-controller="Login" asp-action="Index" class="text-primary fw-bold" style="color: black!important">Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
