@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Project1.ViewModels.ResetPasswordViewModel

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-5 col-xxl-5">
                    <div class="card mb-0">
                        <div class="card-body" style="padding: 10px">
                            <a asp-controller="Welcome" asp-action="WelcomePage" class="text-nowrap logo-img text-center d-block py-3 w-100" style="padding: 0px!important">
                                <img src="../1LayoutLogin/assets/images/logos/dark-logo.svg" width="180" alt="" style="border-radius: 50%">
                                <p class="text-center" style="color: #f8742c; font-size: 145%; font-weight: bold; margin: 0.5%">ĐẶT LẠI MẬT KHẨU</p>
                            </a>
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["Error"]
                                </div>
                            }
                            <form asp-action="ResetPassword" method="post">
                                <input type="hidden" asp-for="Token" />

                                <div class="form-group">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" class="form-control" type="password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <a style="background-color: #f8742c; border-color: #f8742c; margin-top: 20px; margin-bottom: 0.5%!important" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                                    <button class="btn-lg" type="submit" style="background-color: #f8742c; border: none; outline: none; color: white; width: 100%">Đặt lại mật khẩu</button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}