@model Project1.ViewModels.ChangePasswordViewModel

<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm">
                    <div class="mb-3">
                        <label asp-for="CurrentPassword" class="form-label">Mật khẩu hiện tại</label>
                        <input asp-for="CurrentPassword" type="password" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label">Mật khẩu mới</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="changePasswordBtn" data-bs-dismiss="modal">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility(inputId, icon) {
        var input = document.getElementById(inputId);
        if (input.type === "password") {
            input.type = "text";
            icon.innerHTML = '<i class="fas fa-eye-slash"></i>'; // Change icon to eye-slash
        } else {
            input.type = "password";
            icon.innerHTML = '<i class="fas fa-eye"></i>'; // Change icon back to eye
        }
    }
</script>