<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sixter's Pizza</title>
    <link rel="stylesheet" href="../1LayoutLogin/assets/css/styles.min.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="../1LayoutIndex/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../1LayoutIndex/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../1LayoutIndex/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../1LayoutIndex/assets/img/favicons/favicon.ico">

    <meta name="msapplication-TileImage" content="../1LayoutIndex/assets/img/favicons/mstile-150x150.png">

    <style>
        body{
            background-color: #ff9700;
        }
    </style>
</head>

<body>

    @RenderSection("Scripts", required: false)
    <!--  Body Wrapper -->
    @RenderBody()
    
    <script src="../1LayoutLogin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../1LayoutLogin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</body>

</html>