<ul class="dropdown-menu" aria-labelledby="userDropdown">
    @if (Context.Session.GetString("UserId") != null || Context.Session.GetString("Email") != null)
    {
        <li>
            <a asp-controller="Order" asp-action="Index" class="dropdown-item">
                <i class="fas fa-box me-2"></i> Trạng thái đơn hàng
            </a>
        </li>
        <li>
            <a asp-controller="Login" asp-action="Logout" class="dropdown-item">
                <i class="fas fa-sign-out-alt me-2"></i> Đăng xuất
            </a>
        </li>
    }
    else
    {
        <li>
            <a asp-controller="Login" asp-action="Index" class="dropdown-item">
                <i class="fas fa-sign-in-alt me-2"></i> Đăng nhập
            </a>
        </li>
    }
</ul>
